---
---

@import "{{ site.theme }}";


#navigation {
  height: 30px;
  background: #0071C5;
  position: relative;

  max-width: 640px;
  min-width: 520px;
  margin: 0 auto;
}
#navigationbar {
  position: relative;
  width: auto;
  height: 30px;
  margin: 0;
  padding : 0 0 0 0;
  font: bold 12px/25px Verdana, Arial, Tahoma, Sans-serif;
}
#navigationbar ul {
  float: left;
  list-style : none;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}
#navigationbar ul li {
  display: inline;
}
#navigationbar ul li a {
  display: block;
  float: left;
  padding: 0 10px;
  color: #BFBFBF;
  text-decoration: none;
  font: bold 12px/25px Verdana, Arial, Tahoma, Sans-serif;
}
#navigationbar ul li a:hover {
  color: #FAFAFA;
}
#navigationbar ul li#navselected a {
  color: #fff;
}


table {
  border: 0px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 0px solid #373737;
  vertical-align: middle;
 }
